<{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update Profile</h1>
            <p class="lead fw-normal text-white-50 mb-0">Update your profile...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
            <div class="col-md-6 offset-md-3">                
            </br></br>
            <form method="post" action= "{% url 'update_user' %}">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="id_username" class="form-label">Username</label>
                    {{ user_form.username }}
                </div>
                <div class="mb-3">
                    <label for="id_first_name" class="form-label">First Name</label>
                    {{ user_form.first_name }}
                </div>
                <div class="mb-3">
                    <label for="id_last_name" class="form-label">Last Name</label>
                    {{ user_form.last_name }}
                </div>
                <div class="mb-3">
                    <label for="id_email" class="form-label">Email</label>
                    {{ user_form.email }}
                </div>
                </br></br>
                <button type="submit" class="btn btn-secondary">
                    Update Profile
                </button>

           
              </form>
            

            
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
            </div>
        </center>
    </div>
</div>



{% endblock content %}>